body{
	display:block;	
}

header{
	margin:0;
	left:0;	
	top:0;
	background:#000000;
	color:#ffffff;
	width:100%;
	height:80px;
	position:fixed;
}
#header_image{	
	margin-top: 20px;
    margin-bottom: 20px;	
	margin-left:100px;	
	border:1px solid #ffffff;
	float:left;
	height:40px;
	width:200px;		
}

#menu_items
{
	display:flex;
	flex-direction: row;
	justify-content:flex-end;
	align-items:center;
	align-content: space-between;
	text-transform:uppercase;
	font-weight:bold;
	
}

div
{
	padding:15px;	
	font-family:sans-serif;	
	color:#ffffff;
	
}

a{
	text-decoration:none;	
	color:#ffffff;	
}

#article_id{
	display:flex;
	flex-direction:column;
	width:100%;
	padding:0;
	position:relative;
	transform:translate(0px,74px);
	z-index : -1;
}

#section_id1
{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	margin:0;
	width:100%;
	padding:0;
	height:400px;
	background-color:#D4F0F1;
	
}

.center_bar{
	background-color:#4c4f51;
	background-color:#000000;
	color:#ffffff;
	opacity:0.5;
	height:250px;
	width:50%;	
	text-align:center;	
}
.center_heading{
	text-transform:uppercase;
	font-size:180%;
	padding:15px;
	font-weight:bold;
}
#button_style {
	height:60px;
	width:300px;
	padding:15px;	
	margin:0 15px;
	background-color:#ffffff ;
	color:#000000 ;
	font-weight:bold;
	text-transform:uppercase;	
}

#section_id2
{
	display:flex;
	flex-direction:row;
	background-color:#000000;
	color:#ffffff;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
}

#section_id3
{
	height:400px;
	width:100%;
	background-color:#D4F0F1;
}

.image_styling img{
	height:150px;
	width:150px;
	padding:10px;	
}